.channel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1e2122;
    border-right: 1px solid #2f3136;
}

.channel .channel-name {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    color: #b9bbbe;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #2f3136;
}

.channel .channel-settings .bx-cog {
    margin-left: auto;
    color: #b9bbbe;
    font-size: 20px;
    cursor: pointer;
}

.channel .channel-settings .bx-cog:hover {
    color: #dcddde;
}

.channel .channel-messages {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.channel .channel-input {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-top: 1px solid #2f3136;
}

.channel .channel-input input {
    height: 40px;
    width: 100%;
    background-color: #40444b;
    border: 1px solid #2f3136;
    border-radius: 3px;
    color: #dcddde;
    padding: 0 10px;
    font-size: 16px;
}

.channel .channel-input .channel-input-button {
    margin-left: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
}

.channel .channel-input .channel-input-button button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.channel .channel-input .channel-input-button button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.Popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh!important;
    width: 100vw!important;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Popup .FriendInformation {
    background: #1e2122;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Popup .FriendInformation img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.Popup p {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.Popup .FriendsOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Popup .FriendsOptions ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

<<<<<<< HEAD
=======
.PopupBlockUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: red;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.PopupBlockUser:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

>>>>>>> master
.PopupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    list-style: none;
}

.PopupClose:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}