body {
    background-color: #1e2122;
    box-sizing: border-box;
}

.baguette {
    position: fixed;
    display: flex;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.ChanList {
    position: fixed;
    margin-left: 100px;
    background-color: #1e2122;
    height: 80vh;
    width: 250px;
    overflow: scroll;
    border: 2px solid #e7e7e7;
}

.ChooseList {
    align-items: center;
    text-align: center;
}

.ChooseList button {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: 50%;
}

.ChanButtonSelected {
    cursor: default;
    background-color: #1e2122;
}

.ButtonUnselected {
    cursor: pointer;
    background-color: #333;
}

.ButtonUnselected:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.Channels ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    border: 2px solid #e7e7e7;
}

.Channels li {
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: #1e2122;
    color: white;
    text-align: center;
}

.Channels li:hover {
    background-color: #333;
    cursor: pointer;
}

.Chat {
    position: fixed;
    margin-left: 349px;
    background-color: #c5c6cc;
    height: 80vh;
    width: calc(100% - 530px);
    overflow: scroll;
    border: 2px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Chat .ChatBoxHeader {
    position: sticky;
    top: 0;
    padding: 10px;
    text-align: center;
    background-color: #333;
}

.Chat .ChatBoxHeader h3 {
    margin: 0;
    color: white;
}

.Chat .ChatBoxBody {
    height: 70vh;
    width: 100%;
    overflow: scroll;
    padding: 10px;
}

.Chat .ChatInput {
    height: 8vh;
    width: 100%;
}

.Chat .ChatInput input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #333;
    border: none;
    border-top: 2px solid white;
    outline: none;
    overflow: hidden;
    color: white;
}

.popup .popupContent .leaveButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.popup .popupContent .leaveButton:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}


/* Media queries */
@media (max-width: 1200px) {
    .ChanList {
        margin-left: 80px;
        width: 200px;
    }
    .Chat {
        margin-left: 280px;
        width: calc(100% - 280px);
    }
}

@media (max-width: 768px) {
    .ChanList {
        margin-left: 80px;
        width: calc(100% - 80px);
        height: 200px;
    }

    .bx-cog-container {
        position: sticky;
        bottom: 0;
        left: 0;
    }

    .ChooseList button {
        width: 100%;
    }

    .Chat {
        position: static;
        top: auto;
        height: calc(100vh - 280px);
        width: 100%;
        margin-top: 200px;
        margin-left: 80px;
    }
}

.bx-cog-container {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #1e2122;
}

.bx-cog-icon {
    color: white;
    font-size: 24px;
}

.bx-cog-icon:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 400px;
    height: 300px;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.CreateChannel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.CreateChannel h3 {
    text-align: center;
    margin-bottom: 10px;
}

.CreateChannel .inputButtonWrapper {
    display: flex; /* Ajouter une flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: center; /* Centrer horizontalement les éléments */
    margin-bottom: 10px;
}

.CreateChannel input {
    width: 50%;
    max-width: 150px;
    margin-right: 10px; /* Ajouter une marge à droite pour l'espace entre le champ de saisie et le bouton */
}

.CreateChannel .CreateButton {
    align-self: flex-end;
}


.bx-x-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.bx-x-icon:hover {
    color: #ccc;
}

.Channels li,
.Friends li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Channels li:hover .bx-plus,
.Friends li:hover .bx-plus {
    display: inline-block;
    margin-left: 10px; /* Ajoutez une marge à gauche pour l'espacement */
}

.bx-plus {
    display: none;
}





