body {
    background-color: #1e2122;
}

#game-board {
    background-color: black;
    width: 65%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 2%;
    border: 1px solid white;
    position: absolute;
}

#ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

#paddle1 {
    background-color: white;
    position: absolute;
}

#paddle2 {
    background-color: white;
    position: absolute;
}

.button-container {
    display: flex;
}

.change-board-color {
    background-color: transparent;
    margin-right: 10px;
    margin-left: 2px;
    border: 0px;
    color: white;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.color:hover {
    cursor: pointer;
}

.color.white {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.blue {
    background-color: blue;
}

.color.green {
    background-color: green;
}