body {
    background-color: #1e2122;
    box-sizing: border-box;
}

.gameBoard {
    background-color: black;
    width: 65%;
    height: 50%;
    aspect-ratio: 2/1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 2%;
    position: absolute;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.color:hover {
    cursor: pointer;
}

.color.white {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.blue {
    background-color: blue;
}

.color.green {
    background-color: green;
}