
.Leaderboard {
    background-color: #1e2122;
    height: 100vh;
}

.Leaderboard .LeaderboardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}