body {
    background: #1e2122;
}

.ProfileHeader {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.ProfileBody {
    display: flex;
    overflow: scroll;
    max-height: 100vh;
}

.ProfileBody h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.Left {
    margin-left: 250px;
    width: calc(50% - 250px);
}

.Left .Avatar {
    text-align: center;
}

.Left .Avatar .avatarInput {
    display: none;
}

.Left .Avatar .avatarInput + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.Left .Avatar .avatarInput + label:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.Left .Avatar .avatarInput + label:after {
    content: "Edit";
}

.Left .Avatar .avatarInput:checked + label:after {
    content: "Done";
}

.Left .Avatar .avatarInput:checked + label {
    background: #333;
}

.Left .Avatar .avatarInput:checked + label:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.Left .Avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.Left .Avatar img:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.Left .User {
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 35px;
}

.Left .Nickname {
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.Left .Username {
    text-align: center;
    margin-top: 10px;
}

.Left .Username input {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    border-bottom: 1px solid white;
    background: #1e2122;
    color: white;

}

.Left .Username input::placeholder {
    color: white;
}

.Left .Username input:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.Left .Username button {
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.Left .Username button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.Right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 250px;
    width: calc(100% - 150px);
}

.Right .FriendsList {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

 .FriendsList ul {
    list-style-type: none;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
}

 .FriendsList li {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    text-align: center;
     width: auto;
}

 .FriendsList li:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

 .Popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh!important;
    width: 100vw!important;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .Popup .FriendInformation {
    background: #1e2122;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .Popup .FriendInformation img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
 }

 .Popup p {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
 }

 .Popup .FriendsOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .Popup .FriendsOptions ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
 }

 .PopupMessage {
    background: deepskyblue;
     padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     color: white;
 }
.PopupMessage:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

 .PopupRemoveFriend {
    background: red;
     padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     color: white;
 }

 .PopupRemoveFriend:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
 }

.PopupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    list-style: none;
}

.PopupClose:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.AddFriend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.AddFriend input {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    border-bottom: 1px solid white;
    background: #1e2122;
    color: white;
}

.AddFriend input::placeholder {
    color: white;
}

.AddFriend input:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.AddFriend button {
    margin-left: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.AddFriend button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.popupError {
    background: darkred;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RequestReceived {
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.RequestReceived ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.RequestReceived ul li {
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    text-align: center;
    width: auto;
    border-bottom: 1px solid white;
}

.RequestReceived ul li:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.BlockedUser {
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.BlockedUser ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.BlockedUser button {
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    text-align: center;
    width: auto;
    border-bottom: 1px solid white;
    border: none;
    outline: none;
    color: white;
}

.BlockedUser button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .Profile {
        margin-left: 0 !important;
    }
    .ProfileHeader {
        display: none;
        margin-left: 0 !important;
    }
    .ProfileBody {
        /*flex-direction: column;*/
        margin-left: 0 !important;
    }

    .Left .User {
        font-size: 20px;
    }

    .Left .Nickname {
        font-size: 15px;
    }

    .Left .Username input {
        width: 100px;
    }

    .Left,
    .Right {
        margin-left: 0 !important;
        width: 100%;
    }

    .Left .Avatar {
    }

    .Left .Avatar img {
        width: 100px;
        height: 100px;
    }

    .Right h2 {
        font-size: 20px;
    }

    .Right input {
        width: 100px;
    }

    .Right ul {
        list-style-type: none;
    }
    .Right li {
        /*padding: 5px;*/
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {

    .ProfileHeader {
        height: 30px;
    }

    .ProfileBody {
        flex-direction: column;
    }

    .Right {
        margin-left: 80px !important;
        width: 100%;
    }

    .Left {
        margin-left: 80px !important;
        width: 100%;
    }
}

