* {
    box-sizing: border-box;
}

.ProfileHeader {
    background-color: #1e2122;
    color: #fff;
    align-items: center;
    margin-bottom: 20px;
    height: 100vh;
}

.ProfileHeader h1 {
    background-color: #1e2122;
    color: white;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 50px;
    font-weight: bold;
}

.ProfileHeader .ProfileBody {
    background-color: #1e2122;
    color: white;
    overflow: scroll;
}

.Left {
    position: absolute;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 350px;
    width: 30%;
    height: 75vh;
    float: left;
}

.Right {
    position: absolute;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 60%;
    float: right;
}

.ProfileHeader .ProfileBody .Avatar img {
    text-align: left;
    display: flex;
    border-radius: 50%;
    color: black;
}

.ProfileHeader .ProfileBody .Avatar label {
    text-align: left;
    display: flex;
    border: none;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    width: 300px;
    border-radius: 50%;
    background: white;
}

.ProfileHeader .ProfileBody .Avatar img:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}


.Nickname {
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
    text-align: left;
}

.User {
    color: white;
    font-size: 35px;
    display: flex;
    font-weight: bold;
}

.Username {
    color: white;
    font-size: 35px;
    margin-bottom: 1px;
    text-align: left;

}

.Username input {
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
    text-align: center;
    background-color: #1e2122;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.Username input:focus {
    outline: none;
}

.Username input::placeholder {
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
    text-align: center;
}

.Username input:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.Username input:active {
    outline: none;
}

.Username button {
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

.Username button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.Username button:active {
    outline: none;
}

.FriendsList {
    margin-bottom: 1px;
}

.FriendsList .FriendsListSearch h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 1px;
    text-align: center;
}

.FriendsList .FriendsListSearch ul {
    overflow: scroll;
}

.FriendsList .FriendsListSearch ul li {
    display: inline-block;
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.FriendsList .FriendsListSearch ul li:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.AddFriend {
    color: white;
    margin-top: 100px;
    margin-bottom: 1px;
    margin-right: 10vh;
}

.AddFriend h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 1px;
    text-align: center;
}

.AddFriend input {
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
    text-align: center;
    background-color: #1e2122;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.AddFriend input:focus {
    outline: none;
}

.AddFriend input::placeholder {
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
    text-align: center;
}

.AddFriend input:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.AddFriend input:active {
    outline: none;
}

.AddFriend button {
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

.AddFriend button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.AddFriend button:active {
    outline: none;
}

.FriendRequests {
    color: white;
    margin-top: 100px;
    margin-bottom: 1px;
    margin-right: 10vh;
}

.FriendRequests h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 1px;
    text-align: center;
}

.FriendRequests ul {
    margin-right: 10vh;
    overflow: scroll;
    background-color: #333;
}

.FriendRequests ul li {
    display: inline-block;
    margin: 0 10px;
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}

.FriendRequests ul li:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.FriendsList .Popup {
    position: fixed;
    left: 70%;
    top: 350px;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.FriendsList .Popup ul li {
    display: inline-block;
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.FriendsList .Popup ul li:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.FriendsList .Popup .PopupRemoveFriend {
    background: #9c0303;
}
